services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PASSWORD_ADMIN: ${POSTGRES_PASSWORD_ADMIN}
      POSTGRES_PASSWORD_TRAINER: ${POSTGRES_PASSWORD_TRAINER}
      POSTGRES_PASSWORD_TRAINEE: ${POSTGRES_PASSWORD_TRAINEE}
      POSTGRES_USER_ADMIN: ${POSTGRES_USER_ADMIN}
      POSTGRES_USER_TRAINER: ${POSTGRES_USER_TRAINER}
      POSTGRES_USER_TRAINEE: ${POSTGRES_USER_TRAINEE}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - db_data:/var/lib/postgresql
      - ./db_init_scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 10s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}


volumes:
  db_data:
  pgadmin_data:



